<ion-card>

  <ion-card-header>
    <span>Profesor 1 - 01/01/2020 15:34</span>
  </ion-card-header>

  <ion-card-content>
    <p class="post-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolores iusto laboriosam molestias pariatur totam veniam voluptas voluptatibus? Animi dolorem laudantium minima repellat? Accusantium aliquam aperiam aspernatur atque, autem beatae cum dolor eius exercitationem fugiat inventore itaque molestias nihil obcaecati odit quibusdam quos recusandae, saepe similique, sint tenetur totam veniam.ds</p>
  </ion-card-content>

</ion-card>
