secretariat {
  margin-bottom: 40px;
  .scroll-content {
    background: #eee;
  }
  .chat-form{
    button {
      height: 100%;
      width: 100%;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
    ion-textarea {
      padding-left: 10px;
    }
  }
}
